[Desktop Entry]
Encoding=UTF-8
Name=OClock
Name[af]=Horlosie
Name[be]=Гадзіннік
Name[bg]=Часовник
Name[eo]=Horloĝo
Name[lt]=Laikrodis
Name[lv]=Pulkstenis
Name[pl]=O zegar
Name[ru]=Часы
Name[sv]=Oclock
Name[th]=นาฬิกา
Name[ven]=Ntha ha Thoho
Name[zu]=Iwashi
Comment=Clock
Comment[af]=Horlosie
Comment[ar]=ساعة
Comment[be]=Гадзіннік
Comment[bg]=Часовник
Comment[bs]=Sat
Comment[cs]=Hodiny
Comment[da]=Ur
Comment[de]=Uhr
Comment[el]=Ρολόι
Comment[eo]=Iu horloĝo
Comment[es]=Reloj
Comment[et]=Kell
Comment[eu]=Erlojua
Comment[fi]=Kello
Comment[fr]=Horloge
Comment[he]=שעון
Comment[hu]=óra
Comment[is]=Klukka
Comment[it]=Orologio
Comment[ja]=時計
Comment[lt]=Laikrodis
Comment[lv]=Pulkstenis
Comment[nl]=Klok
Comment[nn]=Klokke
Comment[no]=Rund klokke
Comment[pl]=Okrągły zegar
Comment[pt]=Relógio
Comment[pt_BR]=Relógio
Comment[ro]=Ceas
Comment[ru]=Часы
Comment[sk]=Hodiny
Comment[sl]=Ura
Comment[sv]=Klocka
Comment[ta]=¸Ê¸¡Ãõ
Comment[th]=นาฬิกา
Comment[tr]=Saat
Comment[uk]=Годинник
Comment[ven]=Tshifhinga
Comment[vi]=Đồng hô`
Comment[xh]=Iwatshi
Comment[zh_CN]=时钟
Comment[zh_TW]=時鐘
Comment[zu]=Iwashi
Exec=oclock
Terminal=0
Icon=oclock.png
Type=Application
# vi: encoding=utf-8
