[Desktop Entry]
Name=twm
Name[da]=Twm
Name[gl]=twm
Name[ko]=twm
Name[no]=twm
Name[pl]=twm
Name[uk]=twm
Exec=twm
TryExec=twm

[Window Manager]
SessionManaged=false
# vi: encoding=utf-8
