[Desktop Entry]
Name=X Calc
Comment=Scientific calculator for X
Comment[pl]=Kalkulator naukowy dla X
GenericName=Calculator
GenericName[pl]=Kalkulator
Exec=xcalc
Icon=xcalc
Type=Application
Categories=Utility;Calculator;
# vi: encoding=utf-8
