[Desktop Entry]
Encoding=UTF-8
Name=X Clipboard
Name[af]=X Klipbord
Name[ar]=حافظة اكس
Name[az]=X Ara yaddaşı
Name[br]=Golver X
Name[ca]=Portapapers X
Name[da]=X Klippebord
Name[de]=X-Clipboard
Name[el]=Πρόχειρο του X
Name[eo]=XPoŝo
Name[es]=Portapapeles de X
Name[eu]=X Paperzorroa
Name[fi]=X-leikepöytä
Name[fr]=Presse-papiers X
Name[hr]=X odlagalište
Name[hu]=Vágólap
Name[is]=X klemmuspjald
Name[it]=Appunti di X
Name[ko]=X용 클립보드
Name[lv]=X Starpliktuve
Name[mk]=X инсерти
Name[no]=X-utklippstavle
Name[oc]=Tapissaria X
Name[pl]=X schowek
Name[pt]=Área de Transferência X
Name[pt_BR]=Área de Transferência X
Name[ro]=Clipboard X
Name[ru]=Буфер обмена X
Name[sv]=X Klippbord
Name[ta]=X À¢ÊôÒôÀÄ¨¸
Name[th]=คลิปบอร์ดของ X
Name[tr]=X Panosu
Name[uk]=Кишеня X
Name[ven]=Bodo yau Farisa
Name[xh]=Ibhodi eqhotyoshelweyo ye X
Name[zh_CN]=X 剪贴板
Name[zh_TW]=X 剪貼簿
Name[zu]=X Ibhodi eliciphiziwe
MiniIcon=mini-zoom.xpm
Comment=X11 Clipboard viewer
Comment[af]=Klipbord Aansig
Comment[ar]=عارض الحافظة
Comment[bg]=Преглед за Clipboard
Comment[br]=Diskouezer golver X
Comment[bs]=Preglednik clipboard-a
Comment[ca]=Visualitzador del tauler X
Comment[cs]=Prohlížeč clipboardu
Comment[da]=X Klippebordsfremviser
Comment[de]=Inhalt der Zwischenablage anzeigen
Comment[el]=Προβολή Πρόχειρου
Comment[eo]=Rigardilo por la X-poŝenhavo
Comment[es]=Visor del portapapeles para X
Comment[fi]=X-leikepöydän näyttäjä
Comment[eu]=Arbelaren Ikusgailua
Comment[fi]=Leikepöydän näyttäjä
Comment[fr]=Pour afficher le contenu du presse-papiers
Comment[he]=מציג לוח עריכה
Comment[hr]=Preglednik odlagališta
Comment[hu]=Grafikus vágólap néző
Comment[is]=Klippiborðsskoðari
Comment[it]=Visualizzatore degli appunti
Comment[ja]=クリップボードビューア
Comment[lt]=Laikinos talpyklės žiūriklis
Comment[lv]=Starpliktuves Skatītājs
Comment[nl]=klembordweergaveprogramma
Comment[nn]=Utklippstavlevisar
Comment[no]=Fremviser for utklippstavlen
Comment[pl]=Przeglądarka schowka dla X11
Comment[pt]=Visualizador da área de tranferência do X
Comment[pt_BR]=Visualizador da área de transferência do X
Comment[ro]=Vizualizor de clipboard
Comment[ru]=Программа просмотра буфера X
Comment[sk]=Prehliadač schránky
Comment[sl]=Pregledovalnik odložišča
Comment[sv]=Klippbordsvisare
Comment[ta]=´ðÎôÀÄ¨¸ì ¸¡ðÊ
Comment[th]=ตัวแสดงเนื้อหาคลิปบอร์ด
Comment[tr]=Pano Görüntüleyici
Comment[uk]=Переглядач кишені
Comment[ven]=Muvhoni wa Bodo yau Farisa
Comment[vi]=Trình xem clipboard
Comment[xh]=Umboniseli Womfanekiso Obheka Phambili
Comment[zh_CN]=剪贴板查看器
Comment[zh_TW]=剪貼簿檢視器
Comment[zu]=Umboniseli Webhodi eliciphizekayo
Exec=xclipboard
Icon=xclipboard.png
Type=Application
Terminal=false
Categories=Utility;X-X11
# vi: encoding=utf-8
