[Desktop Entry]
Encoding=UTF-8
SwallowTitle=xclock
SwallowTitle[no]=xclock
SwallowTitle[pl]=xclock
SwallowExec=xclock -padding 0
Name=X Clock
Name[af]=X Horlosie
Name[ar]=ساعة اكس
Name[az]=X Saatı
Name[be]=X Гадзіннік
Name[bg]=Часовник на X
Name[br]=Eureier X
Name[bs]=X Sat
Name[ca]=Rellotge X
Name[da]=X Ur
Name[de]=X-Clock
Name[el]=Ρολόι X
Name[eo]=XHorloĝo
Name[es]=Reloj de X
Name[fi]=X-kello
Name[fr]=XClock
Name[hr]=X Sat
Name[is]=X-klukka
Name[ko]=X용 시계
Name[lv]=X Pulkstenis
Name[mi]=Karaka X
Name[mk]=X часовник
Name[nn]=X-klokke
Name[no]=X-klokke
Name[oc]=orlotge X
Name[pl]=X zegar
Name[pt]=Relógio X
Name[pt_BR]=Relógio X
Name[ro]=Ceas X
Name[ru]=Часы для X
Name[sv]=X clock
# bogus
# Name[ta]=X ¸Ê¸¡Ãõ
Name[th]=นาฬิกาของ X
Name[tr]=X Saati
Name[ven]=Tshifhinga tsha X
Name[vi]=Đồng hô` X
Name[xh]=Ikloko ye X
Name[zh_CN]=X 时钟
Name[zh_TW]=X 時鐘
Name[zu]=X Iwashi
Comment=Clock
Comment[af]=Horlosie
Comment[ar]=ساعة
Comment[be]=Гадзіннік
Comment[bg]=Часовник
Comment[bs]=Sat
Comment[cs]=Hodiny
Comment[da]=Ur
Comment[de]=Uhr
Comment[el]=Ρολόι
Comment[eo]=Iu horloĝo
Comment[es]=Reloj
Comment[et]=Kell
Comment[eu]=Erlojua
Comment[fi]=Kello
Comment[fr]=Horloge
Comment[he]=שעון
Comment[hu]=óra
Comment[is]=Klukka
Comment[it]=Orologio
Comment[ja]=時計
Comment[lt]=Laikrodis
Comment[lv]=Pulkstenis
Comment[nl]=klok
Comment[nn]=Klokke
Comment[no]=Rund klokke
Comment[pl]=Zegar
Comment[pt]=Relógio
Comment[pt_BR]=Relógio
Comment[ro]=Ceas
Comment[ru]=Часы
Comment[sk]=Hodiny
Comment[sl]=Ura
Comment[sv]=Klocka
# bogus
# Comment[ta]=¸Ê¸¡Ãõ
Comment[th]=นาฬิกา
Comment[tr]=Saat
Comment[uk]=Годинник
Comment[ven]=Tshifhinga
Comment[vi]=Đồng hô`
Comment[xh]=Iwatshi
Comment[zh_CN]=时钟
Comment[zh_TW]=時鐘
Comment[zu]=Iwashi
Exec=xclock
Icon=xclock.png
Terminal=0
Type=Application
# vi: encoding=utf-8
