[Desktop Entry]
Encoding=UTF-8
Name=X Editor
Name[af]=X Redigeerder
Name[az]=X Editoru
Name[be]=X рэдактар
Name[bg]=Редактор X
Name[ca]=Editor X
Name[eo]=XRedaktilo
Name[es]=Editor de X
Name[fi]=X-editori
Name[fr]=XEdit
Name[gl]=Editor X
Name[hr]=X uređivač
Name[hu]=Xedit
Name[id]=Editor X
Name[is]=X-ritill
Name[it]=Editor X
Name[ko]=X용 편집기
Name[lv]=X Redaktors
Name[mi]=Kaiwhakatika X
Name[nn]=X-redigering
Name[no]=X-redigerer
Name[oc]=Editor X
Name[pl]=X edytor
Name[pt]=Editor X
Name[pt_BR]=Editor X
Name[ro]=Editor X
Name[ru]=Редактор X
Name[sv]=X editor
Name[tr]=X Düzenleyicisi
Name[uk]=Редактор X
Name[ven]=X Musengulusi
Name[vi]=Trình biên soạn X
Name[xh]=Umhleli ka X
Name[zh_TW]=X 編輯器
Name[zu]=UX Umhleli
Comment=Text Editor
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текст Редактор
Comment[bs]=Tekst editor
Comment[cs]=Textový editor
Comment[da]=Tekst-editor
Comment[de]=Texteditor
Comment[el]=Διορθωτής Κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu Editorea
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[mt]=Editur tat-test
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[no]=Tekstredigerer
Comment[pl]=Edytor tekstowy
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เครื่องมือแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[uk]=Редактор текстів
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình biên soạn text
Comment[xh]=Umhleli Wokubhaliweyo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
Exec=xedit
Icon=xedit.png
Type=Application
Terminal=false
Categories=Utility;TextEditor;
# vi: encoding=utf-8
