[Desktop Entry]
Encoding=UTF-8
Name=X Eyes
Name[af]=X Oë
Name[az]=X Gözlər
Name[be]=X вочы
Name[bg]=X Очи
Name[br]=Daoulagad X
Name[cs]=Oči
Name[da]=X-øjne
Name[de]=X-Eyes
Name[eo]=XOkuloj
Name[es]=Ojos de X
Name[fi]=X-silmät
Name[fr]=XEyes
Name[is]=X-augu
Name[ko]=눈
Name[lv]=X Acis
Name[mi]=Whatu X
Name[mk]=X очи
Name[nb]=X-øyne
Name[nn]=X-auge
Name[pl]=X oczy
Name[pt]=Olhos X
Name[ro]=Ochi
Name[ru]=Глаза X
Name[sv]=X Ögon
Name[ta]=X ¸ñ¸û
Name[th]=ดวงตาของ X
Name[tr]=X Gözler
Name[uk]=Очі X
Name[ven]=Mato a X
Name[xh]=Amehlo ka X
Name[zh_CN]=X 眼睛
Name[zu]=Amehlo ka X
Comment=Eyes following the X mouse
Comment[pl]=Oczy podążające za kursorem myszy w X
Exec=xeyes
Icon=xeyes.png
Terminal=false
Type=Application
Categories=Amusement;X-X11;
# vi: encoding=utf-8
