#
# Default font server configuration file for PLD
#

# allow a max of 4 clients to connect to this font server
client-limit = 4

# when a font server reaches its limit, start up a new one
clone-self = on

# alternate font servers for clients to use
#alternate-servers = foo:7101,bar:7102

# where to look for fonts
# Some of these are commented out, i.e. the TrueType and Type1
# directories in /usr/share, because they aren't forced to be
# installed alongside X.
#

catalogue = /usr/share/fonts/misc:unscaled,
		/usr/share/fonts/75dpi:unscaled,
		/usr/share/fonts/100dpi:unscaled,
		/usr/share/fonts/misc,
		/usr/share/fonts/75dpi,
		/usr/share/fonts/100dpi,
		/usr/share/fonts/Type1,
		/usr/share/fonts/TTF,
		/usr/share/fonts/Speedo

# in 12 points, decipoints
default-point-size = 120

# 100 x 100 and 75 x 75
default-resolutions = 75,75,100,100

# how to log errors
use-syslog = on

# don't listen to TCP ports by default for security reasons
no-listen = tcp

# font cache control, specified in KB
#cache-hi-mark = 2048
#cache-low-mark = 1433
#cache-balance = 70
