[Desktop Entry]
WmCommand=
BinaryPattern=
MiniIcon=
Protocols=
MimeType=
Comment=X Terminal
Comment[br]=Termenell X
Comment[ca]=Terminal X
Comment[cs]=Terminál pro XWindow
Comment[de]=X-Terminal
Comment[es]=Emulador de terminal para X
Comment[fi]=X-Terminaali
Comment[fr]=Emulateur de terminal xterm
Comment[hu]=X terminál
Comment[is]=xterm:  X skjáhermir
Comment[it]=Terminale per XWin
Comment[no]=X-terminal
Comment[pl]=X terminal
Comment[pt]=Terminal X
Comment[pt_BR]=Terminal X
Comment[ro]=Terminal pentru XWindow
Comment[ru]=Терминал для Xwindow
Comment[sk]=Terminál pre XWindow
Comment[sl]=Terminalski emulator za X
Name=X Terminal
Name[br]=Termenell X
Name[ca]=Terminal X
Name[cs]=X Terminál
Name[fi]=X-terminaali
Name[hr]=Terminal
Name[hu]=X Terminál
Name[is]=X skjáhermir
Name[it]=Terminale di X
Name[no]=X-terminal
Name[pl]=X terminal
Name[pt]=Terminal X
Name[pt_BR]=Terminal X
Name[ro]=Terminal de X
Name[ru]=X Терминал
Name[sk]=X Terminál
Exec=/usr/X11R6/bin/xterm -ls -ut
Icon=gnome-color-xterm.png
TerminalOptions=
Path=
Type=Application
Terminal=0
# vi: encoding=utf-8
